<launch>
<!-- Description: project scope global launch file, setup by switch 
-->	
	<!-- start basic args -->
	<!--
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	-->
	
<!-- the things that are "on" by default: 
 - cli_enabled, harvest_enabled, vision_enabled,arm_enabled,car_enabled
-->

<!-- start switch args -->
<arg name="cli_enabled" default="true"/>
<arg name="harvest_enabled" default="true"/>
<arg name="vision_enabled" default="true"/>
<arg name="arm_enabled" default="true"/>
<arg name="fake_arm_enabled" default="false"/>
<arg name="car_enabled" default="true"/>
<arg name="sim_enabled" default="false"/>

<!-- end switch args -->

<!-- Start camera -->
	<group if="$(arg cli_enabled)">
	  <node pkg="farmharvestbot_cli" type="cli_node.py" name="fhb_cli"  output="screen">
		<rosparam command="load" file="$(find farmharvestbot_cli)/param/cli.yaml"/>
	  </node>	 
	</group>


<!-- Start harvest -->
	<group if="$(arg harvest_enabled)">
	  <node pkg="farmharvestbot_harvest" type="harvest_node.py" name="fhb_harvest"  output="screen">
		<rosparam command="load" file="$(find farmharvestbot_harvest)/param/harvest.yaml"/>
	  </node>	 
	</group>


<!-- Start vision -->
	<group if="$(arg vision_enabled)">
	  <node pkg="farmharvestbot_vision" type="vision_node.py" name="fhb_vision"  output="screen">
		<rosparam command="load" file="$(find farmharvestbot_vision)/param/vision.yaml"/>
	  </node>	 
	</group>

	
<!-- Start arm -->
	<group if="$(arg arm_enabled)">
	  <node pkg="farmharvestbot_arm" type="arm_node.py" name="fhb_arm"  output="screen">
		<rosparam command="load" file="$(find farmharvestbot_arm)/param/arm.yaml"/>
	  </node>	 
	</group>
	

<!-- Start fake_arm -->
	<group if="$(arg fake_arm_enabled)">
		<node pkg="farmharvestbot_arm" type="fake_arm_node.py" name="fhb_fake_arm"/>
	</group>


<!-- Start car -->
	<group if="$(arg car_enabled)">
	  <node pkg="farmharvestbot_car" type="car_node.py" name="fhb_car"  output="screen">
		<rosparam command="load" file="$(find farmharvestbot_car)/param/car.yaml"/>
	  </node>	 
	</group>

<!-- Start sim -->
	<group if="$(arg sim_enabled)">
		<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>
	</group>

</launch>